# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
megaphone
Phonebook
Account
Zombie
Brain
Violence
Sed
Harl
harlFilter
fixed
bsp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Nvim
.ccls
.ccls-cache/
