# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#CPP00
megaphone
Phonebook
Account

#CPP01
Zombie
Brain
Violence
Sed
Harl
harlFilter

#CPP02
fixed
bsp

#CPP03
ClapTrap
ScavTrap
FragTrap
DiamondTrap

#CPP04
animal
test
build/

#CPP05
Bureaucrat

#CPP06
convert
serialize
identify

#CPP07
templet

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Nvim
.ccls
.ccls-cache/
